
*{
    padding: 0px;
    margin: 0px;
}.nav{   
 position: relative;
width:100%;
height: 60px;
left: 0px;
top: 0px;
background: #1070A6;
padding-left: 15px;
overflow: hidden;

}
.nav .img{
    position: absolute;
    left: 0px;
    top: -68px;
    float: left;

}


.parent-box{
    height:250px;
    width: 230px;
    display: flex;
    position: fixed;
    bottom: 19px;
    right: 40px;
    padding-top: 20px;
    padding-left: 23px;
  
    
}
#box{
    display: none;
}
.parent-box{
    z-index: 2;
}
.parent-box .box{
    width: 180px;
    height: 40px;
    display: flex;
   justify-content: center;
   text-align: center;
    position: relative;
    right: 55px;
    background-color:rgba(255, 255, 255, 0.437);
    display: inline-block;
    margin-bottom: 20px;
    border: 2px solid black;
    z-index:2;
    padding-top:6px ;
 
}

.cricle .parent{
   height: 61px;
   width: 61px ;
   background-color: #F16918;
    border-radius: 270px;
    position: fixed;
    bottom: 17px;
    right: 35px;
    display:flex ;
    justify-content: center;
    text-align: center;
    z-index: 3;
}

.cricle .parent .i{
    position: relative;
    top: 15px;
}
.notesection{
    padding:34px;
}
.notecontiner{
    display: flex;
    overflow-x: scroll;
    gap: 75px;
    padding-top: 27px;
    padding-left: 30px;
    height: 37vh;
    width: 81vw;
    scroll-snap-type: x mandatory;
    margin-top: 27px;
    scroll-padding: 20px;
    background-color:rgba(128, 128, 128, 0.071);
    border-radius: 30px;
}
.notecontiner::-webkit-scrollbar{
    display: none;
}

.notecontiner .note{
    flex: 0 0 100%;
    max-width: 300px;
    height: 87%;
    width:300px;
    border-radius:30px;
    scroll-snap-align: start;
    border: 5px solid black;
}
.notecontiner .note .topsection{
    height: 80px;
    width: 100%;
    background-color:#80808039 ;
    border-bottom:5px solid black ;
    border-top-left-radius: 30px;
    border-top-right-radius: 25px;
    padding:10px;
    padding-top:15px;
  
}
.notecontiner .note .topsection h4 {
    font-size:20px;


}
.notecontiner .note .dwonsection h5{
    padding-top: 12px;
    padding-left:10px;
    height:140px;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}
.remndersection{
    margin-top: 25px;
    margin-left: 2vw;
    width: 90vw;

}
.remndersection .remindercontiner{
    height: 400px;
    width: 40%;
    margin-left:2vw;
    border-radius: 24px;
    width: 100%;
}
.reminder{
    font-size: 30px;
    width: 60%;
    padding-left: 12px;
}
.overlay{
    position:fixed;
    top: 0px;
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.495);
    height: 100%;
    width: 100%;
    display: none;
}
.noteform{
    width: 500px;
    height: 500px;
    background-color:white;
    padding: 25px;
    position: fixed;
    top: 150px;
    left: 30%;
    display:none;
      z-index: 4;
}
.noteform .i{
    float:right;
    position:absolute;
    top:25px;
    right: 25px;
  
}
.noteform h3{
    font-size: 35px;
}
#nametext{
    width: 87%;
    height: 40px;
    padding-left: 7px;
    border-radius: 6px;
    border: 2px solid transparent;
    background-color: #D9D9D9;
}
.nametext:active{
    outline: none;
    border: 2px solid transparent;
}
#titlletext{
    width: 87%;
    height: 40px;
    border: 2px solid transparent;
    padding-left: 7px;
    border-radius: 6px;
    background-color: #D9D9D9;
}
#titlletext:active{
    outline: none;
    border: 2px solid transparent;
}
#note{
    width: 87%;
    height: 110px;
    border-radius: 6px;
    border: 2px solid transparent;
    background-color: #D9D9D9;
    
}
#addnewnotebtn{
    width: 120px;
    height: 38px;
    background-color: #1070A6;
    border-radius: 10px;
    outline: none;
    border: solid 2px transparent;
    margin-top: 5px;
    position: relative;
    left: 36%;
}
.reminderform{
    width: 500px;
    height: 480px;
    background-color:white;
    padding: 25px;
    position: fixed;
    top: 150px;
    left: 30%;
    display:block;
      z-index: 4;
    display: none;
}
.reminderform .i {
    float: right;
    position:absolute;
    top:25px;
    right: 25px;
}
.reminderform h3{
    font-size: 35px;
}
.reminderform #remindertext{
    width: 92%;
    height: 190px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 5px;
}
#addnewreminderbtn{
    width: 120px;
    height: 38px;
    background-color: #1070A6;
    border-radius: 10px;
    outline: none;
    border: solid 2px transparent;
    margin-top: 5px;
    position: relative;
    left: 36%;
}
.reminderform #remindercolor{
    width: 92%;
    outline: none;
    height: 30px;
    border-radius: 8px;
    border: 2px solid gray;
}
#filter{
    position:relative;
    float: right;
    right:15px;
    top: 10px;
    height: 35px;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.256);
    outline: transparent;
    border: 2px transparent solid;
}
            /* mobilephone */
@media only screen and (max-width: 600px){
    .noteform{
        left: 4%;
        width: 89vw;
    }
    .noteform #nametext ,.noteform #titlletext ,.noteform #note{
        width: 95%;
    }
    .reminderform{
        left: 4%;
        width: 89vw;
    }
}
            /* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
{
    .noteform {
       position: fixed;
       top: 25vh;
       left: 25%;
    }

}