
*{
    padding: 0px;
    margin: 0px;
}.nav{   
 position: relative;
width:100%;
height: 60px;
left: 0px;
top: 0px;
background: #1070A6;
padding-left: 15px;
overflow: hidden;

}
.nav .img{
    position: absolute;
    left: 0px;
    top: -68px;
    float: left;

}
.nav .welcome-text{
    margin-right: 9vw;
    margin-top: 2.5vh;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 42px;
text-align: center;
position: relative;
left: 85vw;
top:-9px;
color: #F16918;

}
.nav .welcome-text::selection{
    color:blue;
}
.side-dash{
    width: 50px;
    height: 150vh;
    background-color: rgba(217, 217, 217, 0.3);
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    padding-top: 13vh;
    padding-left: 15px;

}
.parent-box{
    height:250px;
    width: 230px;
    display: flex;
    position: fixed;
    bottom: 19px;
    right: 40px;
    padding-top: 20px;
    padding-left: 23px;
  
    
}
#box{
    display: none;
}
.parent-box .box{
    width: 180px;
    height: 40px;
    display: flex;
   justify-content: center;
   text-align: center;
    position: relative;
    right: 55px;
    background-color: transparent;
    display: inline-block;
    margin-bottom: 20px;
    border: 2px solid black;
    z-index: 3 ;
    padding-top:6px ;
 
}

.cricle .parent{
   height: 61px;
   width: 61px ;
   background-color: #F16918;
    border-radius: 270px;
    position: fixed;
    bottom: 17px;
    right: 75px;
    display:flex ;
    justify-content: center;
    text-align: center;
}

.cricle .parent .i{
    position: relative;
    top: 15px;
}
.notesection{
    padding:34px;
}
.notecontiner{
    display: flex;
    overflow-x: scroll;
    gap: 75px;
    padding-top: 27px;
    padding-left: 30px;
    height: 37vh;
    width: 81vw;
    scroll-snap-type: x mandatory;
    margin-top: 27px;
    scroll-padding: 20px;
    background-color:rgba(128, 128, 128, 0.071);
    border-radius: 30px;
}
.notecontiner::-webkit-scrollbar{
    display: none;
}

.notecontiner .note{
    flex: 0 0 100%;
    max-width: 300px;
    height: 87%;
    width:300px;
    border-radius:30px;
    scroll-snap-align: start;
    border: 5px solid black;
}
.notecontiner .note .topsection{
    height: 80px;
    width: 100%;
    background-color:#80808039 ;
    border-bottom:5px solid black ;
    border-top-left-radius: 30px;
    border-top-right-radius: 25px;
    padding:10px;
    padding-top:15px;
}
.notecontiner .note .topsection h4 {
    font-size:20px;

}
.notecontiner .note .dwonsection h5{
    padding-top: 12px;
    padding-left:10px;
    height:140px;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}
.remndersection{
    margin-top: 25px;
    margin-left: 2vw;

}
.remndersection .remindercontiner{
    height: 400px;
    width: 40%;
    margin-left:2vw;
    border-radius: 24px;
}
.reminder{
    font-size: 30px;
    width: 60%;
    padding-left: 12px;
}